.weather-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.additional-infos {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}